@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 min-w-[320px] min-h-screen w-full;
  }

  #root {
    @apply w-full min-h-screen;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl leading-tight;
  }
}
